html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --fw-normal: 400;
    --fw-medium: 550;
    --fw-bold: 700;

    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #fafafa;

    --shadow1: 0 0 12px rgba(10,30,50,.15);


    
    
    /* --text-box: rgba(34,40,49,.1); */
    /* --vd-control-bar: #f1f1f1; */
    /* --avatar: #f3912e; */
    /* --select-cont: rgba(34,40,49,.2); */
    /* --progress-color: rgba(34,40,49,.2); */
    /* --brand-color-text: hsla(0,0%,100%,.95); */
    /* --shadow2: 0 0 15px rgba(10,30,50,.2); */
    /* --shadow3: 0 0 20px rgba(10,30,50,.25); */
    /* --card-normal: #fff9f3; */
    /* --card-shadow: 0 0 8px rgba(10,30,50,.1); */
    /* --card-shadow-hover: 0 5px 16px rgba(10,30,50,.15); */
    /* --second-button: rgba(8,15,15,.85); */
    /* --second-button-text: hsla(0,0%,100%,.95); */
}

.light {
    --background: #fff;
    --text-color: #222831;
    --text-color2: #2c3d4f;
    --second-white: #f2f5fa;
    --brand-color: #f3912e;
    --profile-cover: #fff;
    --border-color: rgba(10,30,50,.1);
    --heading: rgba(8,15,15,.85);
    --paragraph: rgba(8,15,15,.75);
    --sub-heading: rgba(8,15,15,.7);
    --brand-color-shade: rgba(243,145,46,.1);
}

.dark {
    --background: #262c36;
    --text-color: #eee;
    --text-color2: #f1f1f1;
    --second-white: #15181e;
    --profile-cover: #202b47;
    --brand-color: #f3912e;
    --border-color: hsla(0,0%,100%,.1);
    --heading: hsla(0,0%,100%,.85);
    --paragraph: hsla(0,0%,100%,.75);
    --sub-heading: hsla(0,0%,100%,.7);
    --brand-color-shade: rgba(243,145,46,.1);
    
    /* --text-box: hsla(0,0%,95%,.1); */
    /* --vd-control-bar: #2c3d4f; */
    /* --avatar: rgba(212,132,50,.2); */
    /* --select-cont: hsla(0,0%,93%,.2); */
    /* --progress-color: #2c3d4f; */
    /* --brand-color-text: hsla(0,0%,100%,.95); */
    /* --shadow2: 0 0 15px hsla(0,0%,100%,.2); */
    /* --card-normal: #fff9f3; */
    /* --second-button: hsla(0,0%,100%,.95); */
    /* --second-button-text: rgba(8,15,15,.95); */
}

.common {
    --menu-back: #f1f1f1;
    --menu-item: #2c3d4f;
    --menu-hover: rgba(44,61,79,.2);
    --success-color: #2cda94;
    --common-text-color: #fff;
    --sidebar-tab-active: #f3912e;
    --sidebar-tab-hover: rgba(212,132,50,.2);
    --heat-map-empty: var(--background);
}